.posts
{
	margin: 100px 40px 40px 40px;
	padding: 10px 40px 40px 40px;
	background: #D3D3D3;
}
#news
{
	border-bottom:2px solid #FF1493;
}
#news:hover
{
	text-decoration: none;
}
.posts h6
{
	color: black;
	text-decoration: none;
}
.posts p
{
	color: #696969;
	font-size: 15px;
}

.jumbotron
{
	
	background: #000;
	background-repeat: no-repeat; 
  	 background-size: cover;
  	 object-fit:cover;
  	 color: white;
  	 height: 460px;
  	
}
#blog
{
	color: #FF1493;
}
.title
{
	margin: 200px 20px 50px 100px;
}

#booking
{
background-color:red;
margin:10px 10px 10px 10px;
color: white;
border-top-right-radius: 30%;
border-bottom-left-radius: 30%;
padding: 20px 20px 20px 20px;
}
.editor
{
	margin-top: 4000px;
}
#comment-box
{
margin-bottom: 30px;
}
.comment-section
{
	border:1px solid black;
	padding: 10px 10px 10px 10px ;
	margin-bottom: 10px;
}
.comment-section-user
{

	border:1px solid black;
	padding: 10px 10px 10px 10px ;
	margin-bottom: 10px;
}
#ellipsis
{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden
}
.postdata
{
  border-top:1px  solid gray;
}
.replySection
{
  padding: 20px 20px 50px 20px;
  border:1px solid black;
  margin-top:8px;
}

#comp
{
width:500px;
height: 300px;
}
#ckeditor{
  	margin-top: 100px;
  }
@media only screen and (max-width: 600px) {
  #blog,cite {
    	display: none;
  }
  #comp
  {
  	margin-top: 150px;
  	height: 200px;
  	width: 200px;
  }
  #ckeditor{
  	margin-top: 200px;
  }
}























